{% extends 'base.html' %}

<h1>{% block title %}Create goals{% endblock %}</h1>

{% block content %}
<div class="container">
  <h2 class="display-5">Calculate calorie and nutrient goals</h2>
</div>
<div class="container">
  <form method="post">
    <div class="mb-3">
      <label for="bodyweight" class="form-label">Current bodyweight</label>
      <input type="bodyweight" name="bodyweight" id="bodyweight" required class="form-control" aria-describedby="bodyweightHelp">
    </div>
    <div class="mb-3">
      <label for="maintenance" class="form-label">Maintenance</label>
      <input type="maintenance" class="form-control" name="maintenance" id="maintenance" required>
    </div>
    <button type="submit" class="btn btn-primary">Calculate goals</button>
  </form>
</div>
{% endblock  %}