{% extends 'base.html' %}

<h1>{% block title %}Diet Goals{% endblock %}</h1>

{% block content %}
<div class="container">
  <h2 class="display-5">Your goals for this diet</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
        <!--TABLE-->
        <div class="container">
            <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">Week</th>
                <th scope="col">Period</th>
                <th scope="col">Calories</th>
                <th scope="col">Protein</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fats</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <!--First Week-->
                    <tr>
                    <th scope="row">
                    {% if row['period'] < 2 %}
                    {{row['week']}}
                    {% endif %}
                    </th>
                    <td>{{row['period']}}</td>
                    <td>{{row['calories']}}</td>
                    <td>{{row['protein']}}</td>
                    <td>{{row['carbs']}}</td>
                    <td>{{row['fats']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
        
        <div class="col-sm">
        <!--WEIGHT DIAGRAM-->
        </div>
    </div>
</div>










{% endblock  %}